.widget-availtec {
    background-image: linear-gradient(120deg, rgba(0, 255, 112, 255), rgba(74, 74, 74, 255));}

h1 {
    font-size: 45px !important;
    font-weight: bold !important;
}

h2 {
    font-size: 20px !important;
}

.edt {
    font-size: 65px;
    font-weight: bold;
}

.next-arrival {
    font-size: 25px;
}

.danger {
    background-image: linear-gradient(120deg, red, rgba(74, 74, 74, 255));
}

.map {
    height: 505px;
}
